- if user_signed_in? 
  - if current_user.has_role? :admin 
    %li= link_to 'Admin', users_path 

  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      Jekyll 
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:href => "/sites/new"} Create site 
      %li
        %a{:href => "/sites"} All sites 

